<hcl-panel class="title-panel">{{ 'system-logs.title-panel' | hclTranslate }}</hcl-panel>

<app-system-logs-filter-panel (filterEvent)="setFilterParameters($event)" (clearEvent)="setFilterParameters()"></app-system-logs-filter-panel>

<table hcl-table [hcl-data]='data' [hcl-displayed-columns]='displayedColumns' (hcl-sort-changed)="onSortChange($event)" hcl-sort>

  <ng-container hcl-table-column-def="timestamp">
    <th hcl-table-header-cell *hcl-table-header-cell-def hcl-sort-header [width]="160">{{ 'system-logs.table.date' | hclTranslate }} </th>
    <td hcl-table-cell *hcl-table-cell-def="let _element" [width]="160">
      @if (assertDataType(_element);as element) {
        {{ element.timestamp | date: 'HH:mm:ss dd.MM.yyyy'}}
      }
    </td>
  </ng-container>

  <ng-container hcl-table-column-def="createdBy">
    <th hcl-table-header-cell *hcl-table-header-cell-def hcl-sort-header [width]="160">{{ 'system-logs.table.user' | hclTranslate }} </th>
    <td hcl-table-cell *hcl-table-cell-def="let _element" [width]="160">
      @if (assertDataType(_element);as element) {
        {{ element.createdBy ?  element.createdBy : '-' }}
      }
    </td>
  </ng-container>

  <ng-container hcl-table-column-def="operation">
    <th hcl-table-header-cell *hcl-table-header-cell-def hcl-sort-header [width]="160">{{ 'system-logs.table.operation' | hclTranslate }} </th>
    <td hcl-table-cell *hcl-table-cell-def="let _element" [width]="160">
      @if (assertDataType(_element);as element) {
        {{ 'system-logs.table.operations.' + element.operation | hclTranslate }}
      
      }
    </td>
    <td hcl-table-footer-cell *hcl-table-footer-cell-def [colSpan]='displayedColumns.length'>
      <hcl-paginator [hcl-item-length]=dataLength (hcl-page-event)='onPageChange($event)' [hcl-page-size]=userPaginatorDefault></hcl-paginator>
    </td>

  </ng-container>

  <ng-container hcl-table-column-def="result">
    <th hcl-table-header-cell *hcl-table-header-cell-def hcl-sort-header [width]="160">{{ 'system-logs.table.result' | hclTranslate }} </th>
    <td hcl-table-cell *hcl-table-cell-def="let _element" [width]="160">
      @if (assertDataType(_element);as element) {
        {{ 'system-logs.table.results.' + element.result | hclTranslate }}
      }
    </td>
  </ng-container>

  <ng-container hcl-table-column-def="message">
    <th hcl-table-header-cell *hcl-table-header-cell-def>{{ 'system-logs.table.message' | hclTranslate }} </th>
    <td hcl-table-cell *hcl-table-cell-def="let _element">
      @if (assertDataType(_element);as element) {
        {{ element.message }}
      }
    </td>
  </ng-container>

  <tr hcl-table-no-data-row *hcl-table-no-data-row-def>
    <td hcl-table-no-data-cell [colSpan]='displayedColumns.length'>
      <hcl-icon [hcl-icon-inline]='true' hcl-icon='mat::cancel'></hcl-icon>{{ 'system-logs.table.empty' | hclTranslate }}
    </td>
  </tr>

  <tr hcl-table-header-row *hcl-table-header-row-def></tr>
  <tr hcl-table-row *hcl-table-row-def></tr>
  <tr hcl-table-footer-row *hcl-table-footer-row-def></tr>

</table>
