<hcl-modal-dialog #viewOptionModal>

  <hcl-dialog-header>
    {{ 'provisioning-options.modals.view.title' | hclTranslate }}
  </hcl-dialog-header>

  <hcl-dialog-body>

    <form [formGroup]="form" class="view-option-form">

      <hcl-tab-group>

        <hcl-tab hcl-tab-label="{{ 'provisioning-options.modals.tabs.identifier' | hclTranslate }}" [hcl-tab-is-active]="true">
          <hcl-form-field>
            <label hcl-label>{{ 'provisioning-options.modals.form.type' | hclTranslate }}: </label>
            <hcl-select class='hcl-multi-select'
                        formControlName="type"
                        [hcl-select-options]="selectTypeOptions">
            </hcl-select>
          </hcl-form-field>

          <hcl-form-input>
            <label hcl-label>{{ 'provisioning-options.modals.form.key' | hclTranslate }}</label>
            <input hcl-input type='text' formControlName="key"/>
          </hcl-form-input>
        </hcl-tab>

        <hcl-tab hcl-tab-label="{{ 'provisioning-options.modals.tabs.names' | hclTranslate }}">
          <div formArrayName="names">
            <div *ngFor="let translation of names.controls; let i = index" [formGroupName]="i" class="provisioning-option-form">
              <hcl-form-input class="text-input">
                <input hcl-input type='text' formControlName="locale">
                <hcl-label>{{ 'provisioning-options.modals.form.locale' | hclTranslate }}</hcl-label>
              </hcl-form-input>
              <hcl-form-input class="text-input">
                <input hcl-input type='text' formControlName="description">
                <hcl-label>{{ 'provisioning-options.modals.form.value' | hclTranslate }}</hcl-label>
              </hcl-form-input>
            </div>
          </div>
        </hcl-tab>

        <hcl-tab hcl-tab-label="{{ 'provisioning-options.modals.tabs.descriptions' | hclTranslate }}">
          <div formArrayName="descriptions">
            <div *ngFor="let translation of descriptions.controls; let i = index" [formGroupName]="i" class="provisioning-option-form">
              <hcl-form-input class="text-input">
                <input maxlength="50" hcl-input type='text' formControlName="locale">
                <hcl-label>{{ 'provisioning-options.modals.form.locale' | hclTranslate }}</hcl-label>
              </hcl-form-input>
              <hcl-form-input class="text-input">
                <input maxlength="50" hcl-input type='text' formControlName="description">
                <hcl-label>{{ 'provisioning-options.modals.form.value' | hclTranslate }}</hcl-label>
              </hcl-form-input>
            </div>
          </div>
        </hcl-tab>

        <hcl-tab hcl-tab-label="{{ 'provisioning-options.modals.tabs.restrictions' | hclTranslate }}" >
          <app-provisioning-restrictions *ngIf="showValuesTab" [data]="provisioningOption.restrictions" [viewOnly]="true"></app-provisioning-restrictions>
          <span *ngIf="!showValuesTab">{{ 'provisioning-options.modals.tabs.restrictions-not-supported' | hclTranslate }}</span>
        </hcl-tab>

      </hcl-tab-group>
    </form>
  </hcl-dialog-body>

  <hcl-dialog-footer>
    <button hcl-button type='button' (click)='this.viewOptionModal.cancel()'>
      {{ 'provisioning-options.modals.buttons.close' | hclTranslate }}
    </button>
  </hcl-dialog-footer>

</hcl-modal-dialog>

