<hcl-panel class="title-panel">{{ 'system-configuration.title' | hclTranslate }}</hcl-panel>

<div class="ripples-container">
  <div class="ripples">
    <app-option-ripple icon='mat::train' text='available-services.title' navigation='services'></app-option-ripple>
  </div>
  <div class="ripples">
    <app-option-ripple icon='mat::verified_user' text='provisioning-options.title' navigation='provisioning'></app-option-ripple>
  </div>
  <div class="ripples">
    <app-option-ripple icon='mat::announcement' text='messages.title' navigation='messages'></app-option-ripple>
  </div>
</div>
