<hcl-modal-dialog #addRestrictionModal>

  <hcl-dialog-header>
    {{ 'provisioning-restrictions.modals.add.title' | hclTranslate }}
  </hcl-dialog-header>

  <hcl-dialog-body>
    <form [formGroup]="form" class="add-restriction-form">

      <div class="option-form">
        <hcl-form-input class="text-input">
          <input maxlength="50" hcl-input type='text' formControlName="value">
          <hcl-label>{{ 'provisioning-restrictions.modals.form.key' | hclTranslate }}</hcl-label>
        </hcl-form-input>
      </div>

      <div class="divider">
        <hr>
        <span>{{ 'provisioning-restrictions.modals.form.translations' | hclTranslate }}</span>
      </div>

      <div formArrayName="translations">
        <div *ngFor="let translation of translations.controls; let i = index" [formGroupName]="i" class="restriction-form">
          <hcl-form-input class="text-input">
            <input maxlength="50" hcl-input type='text' formControlName="locale">
            <hcl-label>{{ 'provisioning-restrictions.modals.form.locale' | hclTranslate }}</hcl-label>
          </hcl-form-input>
          <hcl-form-input class="text-input">
            <input maxlength="50" hcl-input type='text' formControlName="description">
            <hcl-label>{{ 'provisioning-restrictions.modals.form.value' | hclTranslate }}</hcl-label>
          </hcl-form-input>
          <button type="button" hcl-button hcl-color="accent"  class="remove-translation-button" (click)="removeTranslation(i)">
            {{ 'provisioning-restrictions.modals.buttons.removeTranslation' | hclTranslate }}
          </button>
        </div>
      </div>

      <button type="button" hcl-button hcl-color="primary" class="add-translation-button" (click)="addTranslation()" style="width: 100%">
        {{ 'provisioning-restrictions.modals.buttons.addTranslation' | hclTranslate }}
      </button>

      <div *ngIf="form.controls['translations'].errors?.['missingRequiredTranslations']" class="error-message">
        <i hcl-icon='mat::error'></i>{{ 'provisioning-restrictions.modals.form.missingRequiredTranslations' | hclTranslate }}
      </div>

    </form>
  </hcl-dialog-body>

  <hcl-dialog-footer>
    <button hcl-button type='button' hcl-color="primary" (click)='onSave()'>
      {{ 'provisioning-restrictions.modals.buttons.save' | hclTranslate }}
    </button>
    <button hcl-button type='button' (click)='this.addRestrictionModal.cancel()' class="cancel-button">
      {{ 'provisioning-restrictions.modals.buttons.close' | hclTranslate }}
    </button>
  </hcl-dialog-footer>

</hcl-modal-dialog>


