hcl-form-input.user-input {
    min-width: 250px;
}

.hcl-form-field-vertical {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.role-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-input {
    margin-bottom: 10px;
}

.cancel-button {
    margin-left: 10px;
}